@import './styles/colors';
@import './styles/utils';

html {
	height: 100%;

	@include mobile{
		font-size: 13px;
	}
	@include tablet{
		font-size: 11px;
	}
	@include desktop{
		font-size: 11px;
	}
	@include hd{
		font-size: 11px;
	}
	@include hdPlus{
		font-size: 12px;
	}
	@include fullHd{
		font-size: 14px;
	}
}

body {
	margin: 0;
	height: 100vh;
	overflow: auto;
	background-color: $white-two;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
header {
	color: white;
	@include padding(20);
	@include fontSize(34);
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	background-color: black;
}